.noteCard {
    background-color: #7EBFB3;
    

}

.cardBody {
    overflow: hidden; 
    mask-image: linear-gradient(180deg, #000 60%, transparent); 
}


.cardText {
    white-space:pre-line;
    color: #fff;

}

.cardTitle{
    color: #fff;
}